[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Ex libOSSO
Exec=/usr/bin/example_libosso
X-Osso-Service=org.maemo.example_libosso
Icon=3d-gnu-head
MimeType=application/x-example;
